@import url("./variables.css");

body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    background-color: var(--neutral-color-light);

    font-family: var(--body-font);
}

.nav-links {
    list-style: none;
}

a {
    text-decoration: none;
}